.player{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.8);
  padding: 7px;
  z-index:11;
  .audio-panel{
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 50px;
    .song-info{
      width: 50%;
      padding: 0 3%;
      .song{
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
    .control-panel{
      display: flex;
      height: 100%;
      width: 30%;
      .player-play{
        width: 50%;
        height: 100%;
        background: url("../../static/images/play_icon.png") center no-repeat;
        background-size: auto 70%;
      }
      .player-pause{
        width: 50%;
        height: 100%;
        background: url("../../static/images/pause_icon.png") center no-repeat;
        background-size: auto 70%;
      }
      .nextSong{
        width: 50%;
        height: 100%;
        background: url("../../static/images/next_icon.png") center no-repeat;
        background-size: auto 70%;
      }
    }
  }
  .player-icon{
    width: 50px;
    height: 50px;
  }
}